* {
  box-sizing: border-box;
}
body{
  background-color: #94507a;
}
.heading {
  font-family: cursive;
  text-decoration: underline;
  margin: 3% 0 0 50%;
}
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .col-lg-12 {
    width: 100%;
  }
}

.sec {
  background-color: aliceblue;
  border: 2px solid black;
  margin-top: 5%;
  margin-right: 0.25%;
  float: left;
}

.title {
  top: 0;
  right: 0;
  margin-left: 70%;
  margin-bottom: -2%;
  border: 2px solid black;
  text-align: center;
  font-family: cursive;
}
.t1{
  background-color: darkorange;
}
.t2{
  background-color: #65cbcf;
}
.t3{
  background-color: #65cf9a;
}

.sec-para {
  padding: 2%;
  box-sizing: border-box;
  justify-content: center;
  font-size: 14px;
  font-family: cursive;
}
